<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- <link id="favicon" rel="icon"href="/public/favicon/image.png" type="image/png" sizes="62x62"> -->
    <link rel="stylesheets" href="/public/assets/favicon/image.png">

    <title><%= title %></title>
