section {
  display: flex;
  flex-direction: column; 
  height: 100%; 
  justify-content: space-evenly;
}
#title{
  color: #c8480c;
  animation-duration: 2s;
  margin-top: 20px;
  font-size: 52px;
  text-align: center;
  
}

.user {
  border-radius: 50px;
  font-size: 20px;
}

.welcome{
  color: #07796c;
  font-size: 20px;
  float: left;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding-left: 20px;
}

.instruction {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: right;
  float: right;
  justify-content: flex-end;
  width: 600px;
  margin-top: 20px;
  margin-left: 70%;
  margin-right: 16px;
}

.question{
  color: #07796c;
  font-size: 30px;
  margin-bottom: 4px;
}

.login-inst{
  padding: 10px 5px 10px 5px;
  background-color: #c3cfd9;
  border-radius: 8px;
  margin-top: 2px;
}

.about {
  width: 70vh;
  float: left;
  padding-left: 40px;
  margin-top: 18px;
}

h5{
  color: #0a5da1;
  text-align: center;
  width: 10vh;
  margin-top: 16px;
  font-weight: 700;
  font-size: 20px;
  padding: 4px;
  text-decoration: underline;
}

.abt-parag {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(16, 15, 15);
}