section {
  display: flex;
  flex-direction: column; 
  height: 100%; 
}

.user {
  border-radius: 50px;
  font-size: 20px;
}

.welcome{
  color: #07796c;
  font-size: 20px;
  float: left;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding-left: 20px;
}

.instruction {
  font-family: Georgia, 'Times New Roman', Times, serif;
  float: right;
  text-align: right;
  padding-right: 20px;
  margin-left: 86vh;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  margin-top: 2px;
}
.question{
  color: #07796c;
  font-size: 30px;
  margin-bottom: 4px;
}
.login-inst{
  padding: 10px 5px 10px 5px;
  background-color: #c3cfd9;
  border-radius: 8px;
  margin-top: 2px;
}
#title{
  font-size: 52px;
  color: #fb5c12;
  /* filter: drop-shadow(10px 10px  rgba(191, 226, 229, 0.758)); */
  margin-top: 16vh;
  text-align: center;
  animation-duration: 2s;
}

.about {
  width: 70vh;
  float: left;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 40px;
  margin-top: 15vh;
}

h5{
  border-radius: 10px;
  background-color: #db2944;
  color: white;
  text-align: center;
  width: 10vh;
  font-weight: 500;
  padding: 4px;
}

.abt-parag {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(16, 15, 15);
}