body {
  background-size: cover;
  background-image: url("/assets/images/editcom.png");
  background-repeat: no-repeat;
  background-position: center;
}

h1{
  text-align: center;
}

h3{
  margin-right: 20vh;
}
.comment-form {
  border: 2px solid rgb(180, 175, 174);
  background-color: #eff3f5;
  padding: 6px;
  border-radius: 18px;
  width: 50vh;
  height: 66vh;
  margin: 0 auto;
  text-align: center;
  align-content: center;
}

textarea {
  width: 35vh;
  font-size: 14px;
  margin-top: 20px;
}

label{
  font-weight: 500;
}
.update-btn {
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 6vh;
  background-color:#207867;
  color: white;
  margin-left: 24vh;
}

img {
  height: 25vh;
  width: 35vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  }