.product-card {
  border: 3px solid rgb(180, 175, 174);
  padding: 16px;
  border-radius: 32px;
  margin-bottom: 28px;
  width: 30%;
  height: 25%;
  align-items: center;
  justify-content:space-around;
  display: inline-block;
  text-align: center;
  flex-wrap: wrap;
  display: inline-block;
}

.products-container{
flex-wrap: wrap;
display: inline-block;
}

img {
height: 70%;
width: 65%;
border-radius: 6px;
margin-right: 30px;
}

.button-action{
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-evenly;
  align-content: flex-end;
}

.delete-button {
  background-color: #c3465b;
  width: 75px;
  height: 28px;
  font-size: 15px;
}
.details-button {
  background-color: rgb(148, 184, 218);
  /* margin-left: 10px; */
  margin-top: 10px;
  width: 75px;
  height: 28px;
  font-size: 15px;
}

.description-p {
  display: flex;
  font-family: 10px;
  color: #d3465b;
  text-align: right;
} 