h2 {
  text-align: center;
}

.search-inst {
  float: left;
  align-content: center;
  text-align: center;
  margin-left: 10px;
  margin-top: 8px;
  padding: 10px 20px 20px 20px;
  background-color: #c3cfd9;
  border-radius: 8px;
}

.product-card {
  border: 3px solid rgb(180, 175, 174);
  background-color: rgb(230, 230, 225);
  padding: 16px;
  border-radius: 16px;
  margin-left: 10px;
  max-width: 26vh;
  max-height: 32vh;
  align-items:flex-start;
  justify-content:space-around;
  flex-wrap: wrap;
  float: left;
  margin-bottom: 10px;
}

img {
  max-width: 40vh;
  max-height: 14vh;
}

h4{
  font-size: 8px;
}
.products-container{
  float: left;
  flex-wrap: wrap;
  margin-top: 4px;
  justify-content: space-between;
}

.btn-action{
  display: flex;
  align-content: flex-end;
  font-size: 10px;
}
.edit-btn {
  float: left;
}
.delete-btn {
  background-color: #d3465b;
  margin-left: 2px;
}
.details-btn {
  background-color: rgb(148, 184, 218);
  margin-left: 10px;
  float: right;
}

.description-p {
  display: flex;
  font-size: 10px;
  color: #151414;
  text-align: left;
} 