.index-body {
  display: flex;
  justify-content: space-around;
} 

.image-half {
  background-image: url("/assets/images/index-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 50%;
  height: 100vh;
}

.product-half {
  height: 100vh;
  width: 50%;
  background-color: #edc346;
}

h2 {
  text-align: center;
  color:#c3cfd9;
}

.scroller {
  height: 90vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4px;
}

.search-inst {
  padding: 10px 5px 10px 5px;
  background-color: #c3cfd9;
  border-radius: 6px;
  margin-top: 2px;
  width: 46vh;
  margin-left: 60px;
  margin-top: 22px;
}

.product-card {
  border: 2px solid rgb(180, 175, 174);
  background-color: rgb(230, 230, 225);
  padding: 18px;
  display: flex;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  width: 250px;
  height: 400px;
  align-items:center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

img {
  height: 130px;
  width: 120px;
  border-radius: 6px;
}

h4{
  font-size: 16px;
}

.btn-action{
  display: flex;
  font-size: 10px;
}
.edit-btn {
  float: left;
}
.delete-btn {
  background-color: #d3465b;
  margin-left: 2px;
}
.details-btn {
  background-color: rgb(148, 184, 218);
  margin-left: 10px;
  text-decoration: none;
}

.description-p {
  display: flex;
  font-size: 14px;
  color: #151414;
  text-align: left;
} 