.form-container {
  background-color: beige;
  width: 40vh;
  height: 40vh;
  align-content: center;
  align-items: center;
}

input, textarea {
  margin-top: 20px;
}

.add-meal-btn {
  margin-top: 10px;
}