
.new-body {
  display: flex;
  justify-content: space-around;
  height: 100vh; /* Cover the entire viewport height */
}

.image-half {
  background-image: url("/assets/images/new-image.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 100vh; /* Take up the entire viewport height */
  width: 50%; /* Take up half of the available width */
}

.product-half {
  height: 100vh; /* Take up the entire viewport height */
  width: 50%; /* Take up half of the available width */
  background-color: 
  #6bd0e9;
}

.form-container {
  border: 3px solid rgb(180, 175, 174);
  background-color: rgb(230, 230, 225);
  padding: 18px;
  border-radius: 18px;
  width: 44vh;
  height: 50vh;
  margin: 0 auto;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 40px;
  width: 36vh;
}

label {
  font-weight: 500;
  font-size: 16px;
}

.add-meal-btn {
  margin-top: 120px;
  background-color: #207867;
  color: white;
  margin-left: 26vh;
}

h2 {
  text-align: center;
}