
.new-body {
  display: flex;
  justify-content: space-around;

}
/* body{
  background-color:#2ea8ce;
} */
.image-half {
  background-image: url("/assets/images/new-image.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 825px; 
  width: 50%;
}

.product-half {
  height: 825px; 
  width: 50%;
}

.form-container {
  border: 3px solid rgb(180, 175, 174);
  background-color: rgb(230, 230, 225);
  padding: 18px;
  border-radius: 18px;
  width: 400px;
  height: 480px;
  margin: 0 auto;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 40px;
  width: 350px;
}

label {
  font-weight: 500;
  font-size: 16px;
}

.add-meal-btn {
  margin-top: 120px;
  background-color: #207867;
  color: white;
  margin-left: 26vh;
}

h2 {
  text-align: center;
}