h2{
  text-align: center;
}

.product-container {
  border: 2px solid rgb(188, 181, 178);
  background-color: beige;
  border-radius: 18px;
  width: 40vh;
  height: 50vh;
  margin-right: 28px;
  /* float: right; */
  margin: 0 auto;
  align-content: center;
  /* text-align: center; */
}

.product-card{
  padding: 6px;
  border-radius: 16px;
  max-width: 26vh;
  max-height: 32vh;
  align-items: center;
  text-align: center;
}

.comment-input{
  display: flex;
  margin-left: 10px;
}
.comments-head{
  font-size: 15px;
  font-weight: 600;
  margin-left: 8px;
}

.comment-btns{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 0;
}

ul {
  font-size: 8px;
}

h3{
  font-size: 12px;
}

.comment-desc {
  font-size: 12px;
  color: #382124;
  text-align: start;
}

.no-comments{
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}

img {
height: 19vh;
width: 28vh;
justify-content: center;
align-content: center;
align-items: center;
}

.submit-comment-btn{
  width: 10vh;
  height: 3vh;
  display: flex;
  margin-left: 10px;
}
.delete-comment-btn {
  background-color: #d3465b;
  color:beige;
  width: 2vh;
  height: 2vh;
  font-size: 10px;
  border: 0px;
}
.delete-btn {
  background-color: #d3465b;
  color:beige;
  margin-left: 2px;
  display: flex;
}

.edit-comment-btn{
  font-size: 10px;
  width: 4vh;
  margin-left: 6px;
}