.product-container {
  border: 2px solid rgb(188, 181, 178);
  padding: 16px;
  border-radius: 32px;
  margin-bottom: 28px;
  width: 40%;
  height: 40%;
  align-items: center;
  justify-content:column;
  display: inline-block;
}
img {
height: 10%;
width: 10%;
border-radius: 6px;
margin-left: 10px;
font-size: small;
}

.button-container{
  justify-content: center;
  display: flex;
}

/* .delete-button {
  background-color: #d3465b;
  margin-right: 10px;
  width: 80px;
  height: 32px;
  margin-bottom: 20px;
} */
.comment-button {
  background-color: rgb(184, 202, 218);
  margin-left: 10px;
  width: 80px;
  height: 32px;
  margin-top: 16px;
}
form{
  display: flex;
  align-items: center;
}