body{
  background-image: url("/assets/images/show-image.png");
  background-size: cover;
  background-repeat: no-repeat;
}

h2{
  text-align: center;
}

.product-container {
  border: 2px solid rgb(188, 181, 178);
  background-color: #e6e6e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 16px;
  width: 30%;
  margin: 0 auto;
  margin-right: 200px;
  margin-top: 4px;
}

.product-card{
  padding: 16px;
  display: flex;
  border-radius: 16px;
  width: 300px;
  height: 300px;
  flex-direction: column;
  align-items:center;
  margin-top: 8px;
}
.comment-input{
  display: flex;
}
.comments-head{
  font-size: 15px;
  font-weight: 600;
  margin-left: 8px;
}
.comment-btns{
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
ul {
  font-size: 12px;
}

h3{
  font-size: 12px;
}
.comment-desc {
  font-size: 13px;
  color: #382124;
  text-align: start;
}
.no-comments{
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}
img {
  height: 14vh;
}
.submit-comment-btn{
  align-items: center;
  display: flex;
  margin-left: 10px;
  cursor: pointer;
}
.delete-comment-btn {
  background-color: #8f172d;
  color:beige;
  width: 2vh;
  height: 2vh;
  font-size: 12px;
  border: 0px;
  cursor: pointer;
}
.delete-btn {
  background-color: #b32238;
  color:rgb(243, 243, 243);
  border: none;
  margin-left: 2px;
  display: flex;
  cursor: pointer;
}
.edit-comment-btn{
  font-size: 10px;
  width: 4vh;
  margin-left: 6px;
  cursor: pointer;
}