html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #fbe192;
  color: #312e2e;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
  'Helvetica Neue', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.about-paragraph{
  border: 1px solid rgb(58, 55, 55);
  border-radius: 20px;
  height: 12vh; 
}
nav {
  background-color: #fae6d8;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  width: 100%;
}

.welcome{
  margin-right: 78%;
  margin-top: 30px;
  font-size: 38px;
}

.question{
  float: right;
  margin-left: 78%;
}

h3 {
  font-size: 18px;
  border: 1px solid rgb(58, 55, 55);
  border-radius: 8px;
  margin-right: 92%;
}
h4 {
  border: 1px solid rgb(58, 55, 55);
  padding: 16px;
  border-radius: 20px;
  width: 58vh;
  height: 12vh;
  /* text-align: center; */
  margin-top: 2px;
  float: right;
  margin-left: 60%;
  margin-bottom: 4px;
}

h1{
  font-size: 78px;
  color: #e8833a;
  animation-duration: 3s;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;

}

.right {
  margin-left: auto;
}

nav > a {
  /* display: block;
  text-align: center; */
  margin-left: 20px;
}

