html {
  box-sizing: border-box;
  height: 95vh;
  margin: 0px;
  overflow: hidden;
}
nav > a {
  display: block;
  text-align: center;
  align-items: center;
  margin: 0 auto; 
  text-decoration: none;
} 

*,
*::before, 
*::after {
  box-sizing: inherit;
}

body {
  background-color:#fbe192;
  color: #312e2e;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
  'Helvetica Neue', sans-serif;
  margin: 0; 
  align-items: center; 
  height: 95vh;
}

nav {
  background-color: #fae6d8;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 5vh;
}

main {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.right {
  margin: 0 auto;
}

a:hover {
  /* letter-spacing: 0.2em;   */
  transform: scale(1.2);
}

/* .avatar {
  border-radius: 8px;
  justify-content: flex-start;
}  */
#first-nav{
  /* margin-left: 200px; */
  margin: 0;
}

button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}