<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/products/index.css"/>
<%- include('../partials/nav') %>


<h1><% title %></h1>
<h2>This is testing....</h2>

<%- include('../partials/footer') %>