<%- include('../partials/html-head') %>
<link rel="stylesheet" href="stylesheets/products/new.css">
<%- include('../partials/nav') %>

  <h1>Hellooooo testing</h1>


<%- include('../partials/footer') %>