<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/products/new.css"/>
<%- include('../partials/nav') %>


<h1><% title %></h1>


<div class="new-body">
  
  <div class="product-half">
    
    <h2 class="header">Add A Product</h2>
    <div class="form-container">
      <form action="/products" method="POST">
        <label for="link-input">Image Link:</label>
        <input type="src" name="imageLink" placeholder="image address here... ">
        <label for="name-input">Meal Name:</label>
        <input type="text" name="mealName" required="true" placeholder="Product name">
        <label for="description-input">Description:</label>
        <textarea type="text" name="description" placeholder="tell us about this item..." cols="14" rows="2"></textarea>
        <!-- <label for="vegan-checkbox">Is it Vegan:</label>
          <input type="checkbox" name="vegan" checked id="vegan-checkbox" > -->
          <button class="add-meal-btn" type="submit">Add Meal 🍽️</button>
        </form>
      </div>
      
    </div>
    
    <div class="image-half">
      
    </div>
  </div>
<%- include('../partials/footer') %>

